#navbar {
    display: flex;
    width: 100%;
    top: 0px;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

#navbar-top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

#navbar-left {
    width: 190px;
    margin-left: 10%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.insta-icon {
    height: 90%;
    width: 90%;
}

#vertical-line-left {
    height: 50px;
    width: 2px;
    background-color: #767676;
}

#navbar-right {
    width: 150px;
    margin-right: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.navbar-right-text {
    font-weight: 700;
    color: #161616;
}

#vertical-line-right {
    height: 10px;
    width: 2px;
    background-color: #767676;
}

#navbar-bottom {
    height: 2px;
    width: 80%;
    background-color: #767676;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

#main-container {
    width: 300px;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

.label {
    margin-bottom: 5px;
    color: #333;
    font-size: 14px;
}

.input, input[type=submit] {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 20px;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
    display: block;
    margin: 20px auto; 
    width: fit-content;
}

input[type=submit]:hover {
    background-color: #45a049;
}

a {
    color: #007bff;
    text-decoration: none;
    font-weight: 700;
}

a:hover {
    text-decoration: underline;
}