body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

#main-container {
    width: 300px;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

.label {
    margin-bottom: 5px;
    color: #333;
    font-size: 14px;
}

.input, input[type=submit] {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 20px;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
    display: block;
    margin: 20px auto; 
    width: fit-content;
}

input[type=submit]:hover {
    background-color: #45a049;
}

a {
    color: #007bff;
    text-decoration: none;
    font-weight: 700;
}

a:hover {
    text-decoration: underline;
}