#navbar {
    display: flex;
    width: 100%;
    top: 0px;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

#navbar-top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

#navbar-left {
    width: 190px;
    margin-left: 10%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.insta-icon {
    height: 90%;
    width: 90%;
}

#vertical-line-left {
    height: 50px;
    width: 2px;
    background-color: #767676;
}

#navbar-right {
    width: 150px;
    margin-right: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.navbar-right-text {
    font-weight: 700;
    color: #161616;
}

#vertical-line-right {
    height: 10px;
    width: 2px;
    background-color: #767676;
}

#navbar-bottom {
    height: 2px;
    width: 80%;
    background-color: #767676;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    padding-top: 5%;
    text-align: center;
}

.card {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    align-items: center;
    border-radius: 20px;
}

.card h2 {
    color: #333;
    font-size: 20px;
    margin-bottom: 20px;
}

.form-control {
    border-radius: 20px;
    margin-bottom: 20px;
}

.btn-primary, .btn-info {
    background-color: #4CAF50;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    color: white;
    margin-right: 5px;
}

.btn-primary:hover, .btn-info:hover {
    background-color: #45a049;
}

.btn-primary {
    display: block;
    width: fit-content;
    margin: auto;
}

.btn-info {
    display: block;
    width: fit-content;
    margin: 20px auto;
}

label {
    color: #666;
}