body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    padding-top: 5%;
    text-align: center;
}

.card {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    align-items: center;
    border-radius: 20px;
}

.card h2 {
    color: #333;
    font-size: 20px;
    margin-bottom: 20px;
}

.form-control {
    border-radius: 20px;
    margin-bottom: 20px;
}

.btn-primary, .btn-info {
    background-color: #4CAF50;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    color: white;
    margin-right: 5px;
}

.btn-primary:hover, .btn-info:hover {
    background-color: #45a049;
}

.btn-primary {
    display: block;
    width: fit-content;
    margin: auto;
}

.btn-info {
    display: block;
    width: fit-content;
    margin: 20px auto;
}

label {
    color: #666;
}

.input, input[type=submit] {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 20px;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
    display: block;
    margin: 20px auto; 
    width: fit-content;
}

input[type=submit]:hover {
    background-color: #45a049;
}