<!DOCTYPE html>
<html lang="en">
<head>
  <title>DreamCS</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/index.css">
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>

<body>
  <nav id="navbar">
    <div id="navbar-top">
        <div id="navbar-left">
            <a href="/">
                <img class="insta-icon" src="/static/images/logo-1.png" alt="insta icon">
            </a>
        </div>
        <div id="navbar-right">
            <a href="/user/" class="navbar-right-text">Profile</a>
            <div id="vertical-line-right"></div>
            <form action="/accounts/logout/" method="post" style="margin-top: 2%">
              <input type="submit" name="logout" value="logout"/>
          </form>
        </div>
    </div>
    <hr id="navbar-bottom">
  </nav>

  <div class="container mt-4">
    <div class="card">
      <div class="card-body">
        <h2>Please enter your Information Below</h2>
        <form action="mark" method="POST" id="input-form">
          <div class="form-group">
            <label for="gpa">GPA</label>
            <input type="text" class="form-control col-lg-9" id="gpa" name="gpa" placeholder="Enter your GPA" required>
          </div>
          <div class="form-group">
            <label for="gre_v">GRE Verbal</label>
            <input type="text" class="form-control col-lg-9" id="gre_v" name="gre_v" placeholder="Enter your GRE Verbal score" required>
          </div>
          <div class="form-group">
            <label for="gre_q">GRE Quantitative</label>
            <input type="text" class="form-control col-lg-9" id="gre_q" name="gre_q" placeholder="Enter your GRE Quantitative score" required>
          </div>
          <div class="form-group">
            <label for="gre_awa">GRE Writing</label>
            <input type="text" class="form-control col-lg-9" id="gre_awa" name="gre_awa" placeholder="Enter your GRE Writing score" required>
          </div>
          <div class="form-group">
            <label for="status_app">Status</label>
            <select class="form-control col-lg-9" id="status_app" name="status_app">
                <option value="International without US degree" selected>International without US degree</option>
                <option value="International with US degree">International with US degree</option>
                <option value="American">American</option>
                <option value="Unknown">Unknown</option>
             </select>
          </div>
          <button type="submit" class="btn btn-primary">Match</button>
        </form>
        <!-- Section to display recommendations -->
        <% if (recommendations && recommendations.length) { %>
          <div class="recommendations">
              <h3>Recommended Schools:</h3>
              <p><%= recommendations %></p>
          </div>
          <% if (applicants && applicants.length) { %>
            <div class="applicants">
              <h3>More Information:</h3>
              <% applicants.forEach(function(applicant) { %>
                <p><%= applicant %></p>
              <% }) %>
            </div>
          <% } %>
        <% } %>
      </div>
    </div>
  </div>
</body>
</html>
