<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset = "UTF-8">
        <title>DreamCS</title>
        <link rel="stylesheet" href="/css/login.css">
    </head>
    <body>
        <div id="main-container" style="padding-top: 5%;">
            <form action="/accounts/login/" method="post">
                <input type="text" name="username" placeholder="username" required/>
                <input type="password" name="password" placeholder="password" required/>
                <input type="submit" value="login"/>
                <input type="hidden" name="operation" value="login"/>
            </form>
            <div style="text-align: center; margin-top: 3%;">
                Don't have an account? <a href="/create/" style="font-weight: 700; color: #161616;">Sign up</a>
            </div>
        </div>
    </body>
</html>
