<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset = "UTF-8">
        <title>DreamCS</title>
        <link rel="stylesheet" href="/css/profile.css">
    </head>
    <body>
        <div class="container mt-4">
            <div class="card">
              <div class="card-body">
                <h2>Please enter your Information Below</h2>
                <form action="/accounts/info/" method="POST">
                    <div class="form-group">
                        <label for="netid">GPA</label>
                        <div class="label">GPA</div> <input type="number" step="0.01" name="gpa" required class="input"/> <br>
                    </div>
                    <div class="form-group">
                        <label for="netid">GRE_V</label>
                        <div class="label">GRE Verbal</div> <input type="number" name="gre_v" required class="input"/> <br>
                    </div>
                    <div class="form-group">
                        <label for="netid">GRE_Q</label>
                        <div class="label">GRE Quantitative</div> <input type="number" name="gre_q" required class="input"/> <br>
                    </div>
                    <div class="form-group">
                        <label for="netid">Status</label>
                        <select class="form-control col-lg-9" id="netid" name="netid">
                        <option value="inter_wo_us" selected>International without US degree</option>
                        <option value="inter_w_us">International with US degree</option>
                        <option value="american">American</option>
                        <option value="unknown">Unknown</option>
                        </select>
                    </div>
        
                  </div>
                  <button type="submit" class="btn btn-primary">Submit</button>
                </form>
              </div>
            </div>
        </div>
    </body>
</html>
